@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-image: linear-gradient(to right, rgb(1, 27, 47), #005694);
}

.logo-titulo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

.imgLogoHeader {
  margin-right: 10px;
}

.headerContent nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.headerContent li:hover {
  text-decoration: underline;
  color: #ffffff;
}

.headerContent nav {
  display: flex;
  width: 25vw;
}

.linkHeader {
  color: #ffffff;
}

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 50px;
  border: solid 2px white;
  margin-right: 15px;
  border-radius: 15px;
}

.searchSection img {
  width: 20.9px;
  height: 20.4px;
  margin-right: 15px;
}

.searchSection input {
  background-color: transparent;
  margin-right: 10px;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  outline: none;
  caret-color: #ffffff;
  color: #ffffff;
}

.searchSection input::placeholder {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.searchSection input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 1182px) {
  .searchSection {
    display: none;
  }
  .headerContent nav {
    width: 70%;
    margin-right: 20px;
  }
}

@media (max-width: 707px) {
  .headerContent {
    flex-direction: column;
    justify-content: center;
  }
  .logo-titulo {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .headerContent nav {
    width: 90%;
    justify-content: space-around;
    margin-right: 0;
  }
}
