@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.livroDoado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px #005695;
  border-radius: 10px;
  width: 245px;
  height: 264px;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    height: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;

    p {
      color: #000000;
    }
  }
}
