@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.sectionPageLivrosDoados {
  margin-top: 20px;
  height: 130vh;

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 5vh;
  }

  .ListaPageLivrosDoados {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .ListaPageLivrosDoados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
