@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionMainFoto {
  background-image: url('../../assets/livrosGrande.png');
  height: 40vw;
  background-size: contain;
  width: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.sectionMainFoto h1 {
  width: 322px;
  height: 125px;
  margin-left: 8vw;
}

@media (max-width: 707px) {
  .sectionMainFoto h1 {
    font-size: 28px;
  }
}